 <% unless current_user %>
  <div id="blurb">
    <p>
      City streets are used by all modes of transit, but cyclists are especially vulnerable to conditions on the road. <strong>Bikeway</strong> makes your bicycle travels safer and more convenient by showing you the potential hazards in your daily routes. Join the <strong>Bikeway</strong> community by contributing your experience, and together we can keep the streets safe for everyone!
    </p>
  </div>
<% end %>

<div id="sidebar">
  <% if current_user %>
    <button id="add-marker">Add Marker</button><button id="done-marker">Done</button>
  <% end %>
  <div id="directions-form">
    <h2>Enter a Route</h2>
    <form>
      <input id="origin" type="text" placeholder="Origin" size="40"><br>
      <input id="destination" type="text" placeholder="Destination" size="40"><br>
      <input id="route_button" type="button" value="Get Route" onclick="calcRoute()">
    </form>
  </div>
  <div id="directionsPanel"></div>
<hr>
  <footer>
    <small>
      Created by: <%= link_to 'Amy MacKinnon', 'http://amy-mac.com', title: 'Amy\'s Site', target: '_blank' %>, <%= link_to 'Francisco Orozco', 'https://github.com/fo95116', title: 'Githug', target: '_blank' %>, <%= link_to 'Shindo N. Strzelczyk', 'http://github.com/shindostrz', title: 'Shindo\'s Github', target: '_blank' %>, and <%= link_to 'Richard Yang', 'https://github.com/elyrly', title: 'Github', target: '_blank' %> at <%= link_to 'General Assembly', 'http://www.generalassemb.ly', title: 'General Assembly', target: '_blank' %>
    </small>
  </footer>

</div>

<div id="map-canvas"></div>

<div id="popup">
  <div id="inner-popup">
    <button id="close-modal">Close</button>
    <div class="form_disclosure">
      <img src="assets/arrow-33-xxl.png" class="arrow arrow-toggle"><h2>Add Hazard</h2>
    </div>

    <div id="hazard-form">
      <%= render 'hazard_form', :hazard => @hazard %>
    </div>

    <div class="form_disclosure">
      <img src="assets/arrow-33-xxl.png" class="arrow"><h2>Add Accident</h2>
    </div>

    <div id="accident-form" class="hidden">
      <%= render 'accidents/accident_form', :accident => @accident %>
    </div>
  </div>
</div>

<div class="modal"></div>
