<!DOCTYPE html>
<html>
<head>
  <title>Pomegranate</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">

  <link href="assets/application.css" media="all" rel="stylesheet" type="text/css" />
  <script src="assets/application.js" type="text/javascript"></script>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="//use.typekit.net/ayf3yyl.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
   <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4gdjZyAKfFw91Yc3hfhTesuSPVRj9y9U&sensor=true">
    </script>
</head>
  <body>

<header>
  <div id="header-content">
    <img src="assets/bikeway.png" alt="BikeWay logo">
    <nav id="user_nav">
      <% if current_user %>
        <div id="signed_in">
          <p>Welcome <strong><%= current_user.name %>!</strong></p>
          <%= link_to "Sign Out", signout_path, id: "sign_out" %>
        </div>
      <% else %>
        <ul id="link_list">
          <a href="/auth/twitter" name="twitter_link" ><li><h3>Sign in with<br>twitter!</h3></li></a>
          <a href="/auth/facebook" name="fb_window" ><li><h3>Sign in with<br>facebook!</h3></li></a>
        </ul>
      <% end %>
    </nav>
  </div>
</header>

    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg) %>
    <% end %>

    <%= yield %>

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-45798974-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>

  </body>
</html>
