<!DOCTYPE html>
<html>
<head>
  <title>Pomegranate</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "underscore" %>
  <%= javascript_include_tag "markerclusterer" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="//use.typekit.net/ayf3yyl.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
   <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4gdjZyAKfFw91Yc3hfhTesuSPVRj9y9U&sensor=true">
    </script>
</head>
  <body>

<header>
  <div id="header-content">
    <h1>BikeWay</h1>
    <nav id="user_nav">

      <% if current_user %>
        <div id="signed_in">
          <p>Welcome <strong><%= current_user.name %>!</strong></p>
          <%= link_to "Sign Out", signout_path, id: "sign_out" %>
        </div>
      <% else %>
        <ul id="link_list">
          <a href="/auth/twitter" name="twitter_link" ><li><h3>Sign in with<br>twitter!</h3></li></a>
          <a href="/auth/facebook" name="fb_window" ><li><h3>Sign in with<br>facebook!</h3></li></a>
        </ul>
      <% end %>
    </nav>
  </div>
</header>

    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg) %>
    <% end %>

    <%= yield %>

  </body>
</html>
